.AgendaEstilo {
  font-family: "Poppins", serif;   
  height: 100vh;
}

.logo-japa-Agenda {
  transition: 0.2s ease-in-out;
}

.logo-japa-Agenda:hover {
  cursor: pointer;
  color: #86392c;
}

.header-Agenda {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(200deg, #B0B0B0, #FAD0C9);
  align-items: center;
  padding: 20px 10%;
}

.header-logo-Agenda {
  display: flex;
  align-items: center;
  color: black;
}

.header-logo-Agenda h1 {
  margin-left: 5px;
}

.nav-Agenda {
  display: flex;
  list-style: none;
}

.nav-Agenda > li > a {
  margin-left: 20px;
  color: black;
  transition: 0.2 ease-in-out;
  text-decoration: none;
}

.nav-Agenda > li > a:hover {
  cursor: pointer;
  color: #86392c;
}


.agendar {
  position: relative;
  width: 100%;
  height: 91vh;
  overflow: hidden; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}


.agendar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../imgs/planodefundo.png'); 
  background-size: cover;
  background-position: center;
  filter: blur(10px); 
  z-index: -1; 
}

.btn-default {
  background-color: #86392c;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  gap: 8px;
  height: fit-content;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.btn-default:hover {
  background-color: #86392c;
  color: #000;
}

.form_container {
  position: relative;
  z-index: 1; 
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 20px;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  max-width: 600px; 
  width: 100%; 
  box-sizing: border-box;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-title {
  font-weight: 500;
  color: #272727;
  position: relative;
}

.form-title::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 3px;
  border-radius: 30px;
  background-color: #86392c;
  left: 0;
  bottom: 0;
  transform: translateY(2px);  
}

.form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 32px;
  height: 100%;
}

.input-container {
  display: grid;
  gap: 24px;
}

.form-label {
  font-size: 12px;
  color: #404044;
  font-weight: 500;
}

.input-field {
  display: flex;
  align-items: center;
  background-color: #ffff;
  border-radius: 8px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.input-field i {
  display: flex;
  align-items: center;
  width: 30px;
  height: 20px;
  color: #404044;
}

.form-control {
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 8px;
}

.input-field .password-icon:hover {
  cursor: pointer;
  color: #676770;
}

.form-control:focus {
  outline: none;
}

.input-box .input-field:focus-within {
  outline: 2px solid #86392c;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  color: #000;
}

.radio-container {
  grid-column: span 2;
}

.gender-inputs {
  display: flex;
  gap: 20px;
}

.radio-box {
  display: flex;
  gap: 4px;
  align-items: center;
}

.form-control[type="radio"] {
  accent-color: #86392c;
}


.input-box {
  margin-bottom: 0.8rem; 
}


.checkbox-container {
  display: flex;
  align-items: center; 
  gap: 0.5rem; 
}


.checkbox-container input[type="checkbox"] {
  width: 18px; 
  height: 18px; 
  accent-color: #007bff; 
  cursor: pointer; 
  transition: transform 0.3s ease-in-out; 
}


.checkbox-container input[type="checkbox"]:hover {
  transform: scale(1.1); 
}


.checkbox-container .form-label {
  font-size: 14px; 
  color: #333; 
  cursor: pointer; 
  line-height: 1.2; 
}


.checkbox-container .form-label:hover {  
  text-decoration: none; 
  
}


.checkbox-container input[type="checkbox"]:checked {
  accent-color: #28a745; 
}
